@import url("style/header.css");
@import url("style/banner.css");
@import url("style/carrosel.css");
 :root {
    --cor-de-fundo:  #ebecee;
    --branco: #FFFFFF;
    --azul-degrade: #326589;
    --laranja: #EB9B00;
    --fonte-principal: "Poppins";
 }

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}








