@import url("style/header.css");

 :root {
    --cor-de-fundo:  #ebecee;
    --branco: #FFFFFF;
    --azul-degrade: #326509;
    --laranja: #EB9B00;
 }

body {
    background-color: var(--cor-de-fundo);
}








